<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <script defer src='/js/profiler.js'></script>
  {{#if isLogin}}
    <script defer src='/js/login.js'></script>
  {{/if}}
  {{#if isRegister}}
    <script defer src='/js/register.js'></script>
  {{/if}}
  <title>Mentorize</title>
</head>
<body>
  <nav class="header">
    <div class="wrapper">
      <h1>
        <a href="/" class="header-title">Mentorize</a>
      </h1>
        <ul>
        {{#if username}}
          <p>Привет, {{username}}</p>
          <li><a href="/profile/{{userId}}">Личный Кабинет</a></li>
          <li><a class="linkStyles" href="/mentors">Менторы</a></li>
          <li><a href="/signout">Выйти</a></li>
        {{else}}
          <li><a class="linkStyles" href="/mentors">Менторы</a></li>
          <li><a href="/auth/register?mentor=mentor">Стать ментором</a></li>
          <li><a href="/auth/register?user=user">Подобрать ментора</a></li>
          <li><a href="/auth/login">Войти</a></li>
        {{/if}}
        </ul>
    </div>
  </nav>
  <div class="container">
    <header>
      {{{body}}}
    </header>
    <footer role="siteinfo">
      <span class="legal">Important Legal Information</span>
    </footer>
  </div>
</body>
</html>
