<h2>Добро пожаловать обратно к нам. Зайди в свой аккаунт:</h2>
<form id="loginForm" method="POST" action="/auth/login">
  <div>
    <label for="login">Логин:</label>
      <input id="login" name="login" type="text">
  </div>
  <div>
    <label for="password">Пароль:</label>
      <input id="password" name="password" type="password" required minlength="6">
  </div>
  <button type="submit" class="btn btn-primary">Зайти</button>
</form>